.orderBox {
	display: flex;
	justify-content: center;
	height: 150px;
	width: 65vw;
	margin: 2rem auto;
}

.bakeImg {
	width: 125px;
	height: 125px;
}

.orderCard {
	margin-left: 3rem;
	flex-grow: 1;
}

.orderDesc {
	text-align: left;
	overflow: auto;
}