.profileHeader {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: center;
	justify-content: space-between;
	margin: 3rem auto 1rem;
}

.profileImg {
	width: 125px;
	height: 125px;
	margin-bottom: 1.75rem;
}

.tableDetails {
	width: 75%;
	margin: 1.75rem auto;
}

td {
	width: 50%;
}

.ordersNum {
	width: 20%;
}

.editDetails {
	width: 425px;
	margin: auto;
}

@media screen and (max-width: 600px) {
	.editDetails {
		width: 90%;
	}
}

.bottomButton {
	margin: 0rem auto 1.75rem;
}

.delConfButton {
	margin: 0.75rem 1.5rem 2rem;
}

.reAuthBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	margin: 1.5rem auto;
	padding: 1.25rem;
	border: 2px;
	border-style: solid;
}

.googleButton {
	margin: 1.25rem auto;
}
