.card {
    height: 25rem;
    text-align: left;
    margin-bottom: 2rem;
    /* background-color:rgba(233, 233, 233, 0.932); */
}

.cardImg {
    /* Im hard coding this to maintain aspect ratio 6:4, make it responsive */
    height: 184px; 
    /* border: 1px solid black; */
    object-fit: cover;
    /* object-fit: contain; */
    background-color: grey;
}

.cardBody {
    background-color:rgba(233, 233, 233, 0.932);
    /* background-color:rgba(255, 242, 242, 0.932); */
    padding-bottom: 2rem;
}

.cardFooter{
    position:absolute;
    bottom: 1rem;
}

.itemDescTruncate {
    font-size: 14px;
    width: 88%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .max2Lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .max3Lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .max1Line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-size: small;
  }