/* LogIn and SignUp */
.formBox {
	margin: auto;
	margin-top: 3rem;
	margin-bottom: 3rem;
	max-width: 500px;
	width: 60%;
}

/* SignUp Page */
.loginLink {
	margin: 1.5rem auto 1rem;
}

.loginLink h6 {
	display: inline;
	margin-right: 1.2rem;
}

.toggleButton {
	padding: 3px;
}
