.mainBox {
	margin: auto;
	width: 70%;
	padding-top: 4rem;
}

.googleLogIn {
	display: flex;
	justify-content: center;
	margin: 1.5rem;
}

.inputBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1.5rem;
}

.signUp {
	margin-top: 2rem;
}

.signUp h6 {
	display: inline;
	margin-right: 1.2rem;
}
