.mainBox {
	margin: auto;
	width: 70%;
	padding-top: 4rem;
}

.inputBox {
	margin: 1.5rem;
}

.inputText {
	display: flex;
	margin: auto;
	margin-top: 1rem;
}

.googleLogIn {
	display: flex;
	justify-content: center;
	margin: 1.5rem;
}

.signUp {
	margin-top: 2rem;
}

.signUp h6 {
	display: inline-block;
	margin-right: 1.2rem;
}
